/* your code */
.header{
    background-color: blue;
    color: white;
  
}

.white{
    background-color: white;
    
    
}
.grey{
    background-color: grey;
   
}
td{
    border: none;
    border-collapse: collapse;
    
}